In [2]:
import pandas as pd

In [3]:
pd.read_excel('./files/sample_1.xlsx')

  2019년 11월 입국객 수 Unnamed: 1 Unnamed: 2 Unnamed: 3
0            국적코드         성별       입국객수       전년동기
1             A01         남성     106320      85815
2             A01         여성     191436     125241
3             A31         남성        319        299
4             A31         여성         42         54
5             A18         남성     158912     124486
6             A18         여성     232943     163466
7           총 합계      689972        NaN        NaN
8            전년동기     499361        NaN        NaN

In [ ]:
sample1['국적코드'].isin['A']